.drawer_container{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0 15px;
    position: relative;
    background: var(--secondary-bg-color);
}

.img-preview {
    margin-bottom: var(--space-lg);
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.img_text{
  color: var(--text-secondary-color);
  font-size: 24px;
  padding: 6px;
  font-weight: bold;
}