.layer_top {
    margin: 20px 15px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 15px);
    align-items: center;
}
.layer_about {
    display: flex;
    gap: 50px;
    color: var(--text-color);
}
.layer_list_wrapper{
    width: 100%;
    height: auto;
}